@import './base.css';

body {
  /* display: flex; */
  /* align-items: center; */
  justify-content: center;
  overflow: hidden;
  background-image: url('./wavy-lines.svg');
  background-size: cover;
  user-select: none;
}

code {
  font-weight: 600;
  padding: 3px 5px;
  border-radius: 2px;
  background-color: var(--color-background-mute);
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  font-size: 85%;
}

#root {
  /* display: flex; */
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  margin-bottom: 80px;
}

input {
  width: 100%;
  /* max-width: 800px; */
  padding: 10px;
  /* margin: 10px; */
  border-radius: 5px;
  border: 1px solid var(--ev-c-black-soft);
  background-color: var(--ev-c-black-soft);
  color: var(--ev-c-text-1);
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  outline: none;
}

textarea {
  /* box-sizing: border-box; */
  width: 100%;
  /* max-width: 800px; */
  height: 100vh;
  padding: 10px;
  /* margin: 10px; */
  border-radius: 5px;
  border: 1px solid var(--ev-c-black-soft);
  background-color: var(--ev-c-black-soft);
  color: var(--ev-c-text-1);
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  resize: none;
  outline: none;
  overflow: auto;
}

.text {
  font-size: 28px;
  color: var(--ev-c-text-1);
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  margin: 0 10px;
  padding: 16px 0;
}

.notes-list {
  width: 100%;
  max-width: 200px;
}

.note-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--ev-c-black-soft);
  border-style: solid none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.note-edit {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  /* background-color: var(--ev-c-black-soft); */
  /* border-style: solid none; */
  /* border-radius: 5px; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.note-edit > textarea {
  /* flex: 1; */
}

@media (max-width: 720px) {
  .text {
    font-size: 20px;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: max-content 1fr;
}
